/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1 {
  text-align: center;
  color: #fff;
}
section {
  width: max-content;
  margin: 1.5rem auto;
}
img{
  display: block;
  margin: 0 auto;
  height: 560px;
  width: auto;
}
figcaption {
  width: 760px;
  margin: 0 auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

body {
  background-color: #07091a;
}

figure {
  background-color:#222425;
  color: white;
  width: max-content;
  margin: 0 auto;
  padding: 2rem 1.75rem;
  border-radius: 15px;
  position: relative;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1.9rem;
  width: calc(100% - 3.8rem);
  height: 560px;
}